# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.7.1-RoisinBent_K00252927_GameProject.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Roisin\GitHub\LIT-GAD-GE1-2021\7.1-RoisinBent_K00252927_GameProject\.idea\.idea.7.1-RoisinBent_K00252927_GameProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
